/* Reset default margin and padding */
body,
html {
    margin: 0;
    padding: 0;
}

/* Set background colors and text styles */
body {
    background-color: #f9f7f6; /* Light beige background */
    color: #333; /* Dark text color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Use a clean sans-serif font */
}

/* Main container styles */
.container {
    max-width: 1200px; /* Limit width for content */
    margin: 0 auto; /* Center container horizontally */
    padding: 20px; /* Add padding inside container */
}

/* Header styles */
header {
    background-color: #483d8b; /* Dark slate blue background for header */
    color: #fff; /* White text color */
    padding: 20px;
    text-align: center;
}

/* Navigation menu styles */
nav {
    background-color: #6a5acd; /* Slate blue background for navigation */
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff; /* White text color for links */
    text-decoration: none;
    padding: 8px 16px;
    margin: 0 5px;
}

nav a:hover {
    background-color: #836fff; /* Lighter purple on hover */
}

/* Book container styles */
#book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.book {
    width: 250px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* White background for books */
    position: relative; /* Position for absolute icons */
}

.book img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.book h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.book p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Form styles */
form {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #6a5acd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #836fff;
}

/* Search bar styles */
#searchInput {
    display: none; /* Initially hidden */
}

.search-button {
    margin-left: auto;
    background-color: #6a5acd;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #836fff;
}

/* Favorite and bookmark icons */
.book .favorite-icon,
.book .bookmark-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}

.book .favorite-icon {
    color: gold; /* Yellow color for favorite */
}

.book .bookmark-icon {
    color: dodgerblue; /* Blue color for bookmark */
}
